.nav-item a {
    color: #ffffff;
    font-size: 22px;
}
.nav-item a:hover {
    color: white;
}
#offcanvasNavbar {
    width: 240px;
}
.card-text a {
    text-decoration: none;
    color: #0e61af;
}
.card-text a:hover {
    color: #1874fb;
}
.btn {
    background-color: #163E73;
    border: none;
}
.btn:hover {
    background-color: #0a53be;
    transition: background-color 0.3s linear;
}
.nav-item:hover {
    background-color: #0a53be;
}
.nav-item {
    width: 239px;
    transition: background-color 0.3s linear;
    padding: 10px;
}
.btn-close {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}