.btn-close {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.img-thumbnail {
    width: 100px;
    margin-right: 10px;
}
.btn {
    background-color: #163E73;
    transition: background-color 0.3s linear;
    border: none;
}
.btn:hover {
    background-color: #0a53be;
}
svg {
    color: #163E73;
    transition: background-color 0.3s linear;
}
svg:hover {
    color: #0a53be;
}