.img-thumbnail {
    width: 100px;
}
.create-table a {
    text-decoration: none;
    color: black;
}
.create-table a:hover {
    color: #0a53be;
}
.nav-item img{
    width: 50px;
}
.page-item active{
    background-color: #163E73;
}
.page-link {
    color: #163E73;
}
.btn {
    background-color: #163E73;
    border: none;
}
.btn:hover {
    background-color: #0a53be;
    transition: background-color 0.3s linear;
}
a svg{
    text-decoration: none;
    color: #163E73;
}
a svg:hover{
    text-decoration: none;
    color: #0a53be;
}
.btn-close {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


